nav a {
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}

nav a.active {
  background-color: #333;
  color: white;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: #f1f1f1;
  color: #666;

  bottom: 0;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
