/* You can add global styles to this file, and also import other style files */
nav a {
  padding: 10px 15px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8; /* Light grey */
  color: #3d3d3d;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav a:hover {
  color: white;
  background-color: #42545c; /* Darker blue-grey */
}

/* This class is applied automatically by routerLinkActive */
nav a.active {
  background-color: #333;
  color: white;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: #f1f1f1;
  color: #666;
  position: fixed;
  bottom: 0;
  width: 100%;
}
